* {
    box-sizing: border-box;
}
#head {
    float: left;
    
    width: 750px;
    height: 250x;
    border: 50px;
    margin: 0px 20px 20px 100px;
    
    
  }


ul {
    float: right;
    
}

.topnav {
    font: #4aaaa5;
    margin: -90px 75px 25px 0px;
    float: left;
   }

.topnav li {
    display: inline-block;
}

.topnav li + li:before {
    content: " | ";
    padding: 6px;
    
}

.topnav li + li:before {
    content: " | ";
    padding: 0 1px;
}

body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-image: url("circles.png");
    background-color: #777777;
    width: 960px;
    padding: 5px;
    
}

.panel {
    float: left;
    position: relative;
    height: 150px;
    width: 200px;
    margin: -500px 290px 0px 650px;
    overflow: auto;
    
    background-color: blue;
    
}

.social {
    width: 50px;
    height: 50px;
    display: inline-block;
    
}

h1 {
    background-color: #4aaaa5;
    color: white;
    border-style: none;
    height: 100px;
    width: 32%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px;
    margin-top: -5px;
    font-size: 28px;

    margin-left: -100px;
    }

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1px;
    font-size: 22px;
    float: left;
    margin: 0px 0px 20px 20px;
    
}

h3 {
    margin: 50px 5px 0px -95px;
    float: left;
    position: relative;

}



h4 {
    color: #777777;
    align-content: bottom;
    padding: 1px;
    /* margin-bottom: 50px; */
    text-align: center;
    margin: 0px 0px 50px 500px;
}

.container-head {
    width: 960px;
    height: 100px;
    border: 25px;
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 250px;
    float: left;
    background-color: #ffffff;
    border-color: #dddddd; 
}






.main-container {
    width: 960px;
    height: 600px;
    border: 5px;
    padding: 20px;
    margin: 25px 0px 0px 250px;
    float: left;
    background-color: #ffffff;
    border-color: #dddddd; 
    
    
 }
 
 .main-container1 {
    width: 650px;
    height: 600px;
    border: 5px;
    padding: 50px;
    margin: 50px 0px 0px 250px;
    float: left;
    background-color: #ffffff;
    border-color: #dddddd; 
    
    
 }



 p {
    
    padding: 25px;
    margin: 25px 0px 0px 0px;
    position: relative;
    width: 600px;
           
    
} 







container {
    width: 750px;
    height: 200px;
    border: 25px;
    padding: 50px;
    margin: 20px 100px 20px;
    position: sticky;
    border-color: #dddddd;
    background-color: white;
    
}


   
    input[type=text], select, textarea {
        width: 100%; 
        padding: 12px;  
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical 
    }

  
    input[type=submit] {
        background-color:#4aaaa5;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    
    input[type=submit]:hover {
        background-color: #4aaaa5;
    }

    
    .container {
        border-radius: 5px;
        background-color: white;
        padding: 20px;
        margin: 20px 5px 20px 250px;
        height: 200px;
        width: 750px;
    }

    button {
        background-color: #4aaaa5;
        border: 1px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;

    }

     @media only screen and (min-width: 980px) {
        body {
            float: left;
            background-color: green;
            color: white;
        }
    }

    
    @media only screen and (min-width: 768px) {
        body {
            float: left;
            background-color: blue;
            color: white;
        }
    }
    

    @media only screen and (min-width: 640px) {
        body {
            float: left;
            background-color: olive;
            color: white;
        }
    } 








